<!--
  Generated template for the TaskInfo page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="danger">
    <ion-title>Kidz Tokenz</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="deleteTask(oTask)">
        <ion-icon name="md-trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content padding>
 <h2>{{oTask.name}}</h2>
  <ion-grid>
    <ion-row>
      <ion-col width-50>
        <button ion-button full color="danger" round large [disabled]="oTask.score == oChild.tokenNumbers" (click)="addToken()">
          <ion-icon name="md-add"></ion-icon> 
        </button>
      </ion-col>
      <ion-col width-50>
        <button ion-button full color="secondary" round large [disabled]="oTask.score == 0" (click)="removeToken()">
          <ion-icon name="md-remove"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let trio of tokenstriples" >
      <ion-col *ngFor="let item of trio">
       
          <img *ngIf="item + 1 > oTask.score && oTask.negativeReinforcement" class="center-image" src="{{oChild.tokenType}}">
          <img *ngIf="item + 1 <= oTask.score && oTask.negativeReinforcement" class="center-image" src="{{oChild.negativetokenType}}">

          <img *ngIf="item + 1 > oTask.score && !oTask.negativeReinforcement" class="bwimage" src="{{oChild.tokenType}}">
          <img *ngIf="item + 1 <= oTask.score && !oTask.negativeReinforcement" class="center-image" src="{{oChild.tokenType}}">
       
      </ion-col>
    </ion-row>
    <ion-row class="task-comment"  *ngIf="oTask.score < oChild.tokenNumbers && !oTask.negativeReinforcement">
          <h2>Keep up the good work</h2>
    </ion-row>
    <ion-row class="task-comment" *ngIf="oTask.score == oChild.tokenNumbers && !oTask.negativeReinforcement">
          <h2>You did it. Well done !! </h2>         
    </ion-row>
    <ion-row class="task-comment"  *ngIf="oTask.score < oChild.tokenNumbers && oTask.negativeReinforcement">
          <h2>You need to do better..</h2>
    </ion-row>
    <ion-row class="task-comment" *ngIf="oTask.score == oChild.tokenNumbers && oTask.negativeReinforcement">
          <h2>Oh No! That's too bad </h2>         
    </ion-row>    
     <ion-row class="task-comment" *ngIf="oTask.score == oChild.tokenNumbers ">
          <button full primary round large  (click)="facebookShare()"> <ion-icon name="logo-facebook"></ion-icon></button>
    </ion-row>
    <ion-row >
      <ion-col>
        <button ion-button [disabled]="oTask.score < oChild.tokenNumbers" full color="danger" round large (click)="resetScore()">
          <ion-icon name="md-refresh"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <div class="task-photo" text-center>>
      <img src="{{oTask.taskimage}}" class="task-background-image">
    </div>
  </ion-grid>
</ion-content>
