<ion-header>
  <ion-navbar color="danger" hideBackButton>
    <ion-title>Kidz Tokenz</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showInfo()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="home">
  <h2> To Add Child Tap (+)</h2>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item class="child-item" *ngFor="let item of kids" (click)="itemSelected(item)">
          <ion-thumbnail item-left>
            <img *ngIf="isGuestUser" src="{{item.childimage}}">
            <img *ngIf="!isGuestUser" src="{{item.kidPhoto}}">
          </ion-thumbnail>
          <h2>
            {{item.name}}
          </h2>
          <ion-badge color="secondary">{{item.tasksCount}} tasks</ion-badge>
          <ion-avatar item-right>
            <img src="{{item.tokenType}}">
          </ion-avatar>
          <ion-icon name='ios-arrow-forward' item-right></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="addNewKid()"><ion-icon name="add" ></ion-icon></button>
  </ion-fab>
</ion-content>
