// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-avatar img  {
        border-radius: 10% !important;
}

.scroll-content {
        // display: flex;
        //flex-direction: column;
        background: url('../assets/images/green-background.png') no-repeat center center fixed !important;
        
        background-size: cover;
        font-family: 'Open Sans', sans-serif !important;
        color: black !important;
    }
    
    .child-item {
        background-color: #F08A3C !important;
        box-shadow: 0 0 2px 2px red;
        border-radius: 0 8px;
       // padding: 5px !important;
        padding-bottom: 0 !important;
        margin: 10px 2px 2px 1px;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 20px;
    }
    .item .item-inner {
        border-bottom: none!important;
    }

    ion-label {
   
    font-size: 1.6rem;
}