page-addTaskModal {
    
ion-label {
        color: white
    }

ion-list {
    margin: 0 16px 0;
}

.child-name {
    color: white;
}
    

     .task-background-image {
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        -webkit-transition: opacity ease-in-out 1s;
        transition: opacity ease-in-out 1s;
        opacity: 1;
        filter: alpha(opacity=100);
        &.fade-out {
            opacity: 0;
            filter: alpha(opacity=0);
        }
        
    margin: auto;
    }

    .task-photo {
         position: relative;
        margin: 0 auto;
      //  height: 145px;
      //  width: 150px;
      //   $max-height: 145px;
    //$max-width: 150px;
    $padding-top: 10px;
    $padding-bottom: 5px;
   // height: $max-height + $padding-top + $padding-bottom;
    padding: $padding-top 0 $padding-bottom 0;
    }

}